* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #5E59D6;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

#buttonsContainer {
  width: 100%;
  height: 100%;
}

h1 {
  padding: 0.5em;
}

.pollOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 0;
  text-align: center;
}

.pollOptions button {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}

#keySubmitButton {
  padding: 0.5em;
  margin: 0.5em;
  background-color: #2d2a7c;
  color: #fff;
}

#keyInput {
  background-color: #2d2a7c;
  padding: 0.5em;
  margin: 0.5em;
  color: #fff;
}

button {
  background-color: #5E59D6;
}

button.active {
  background-color: #5961d6;
  color: white;
  border: 5px solid #2d2a7c;
  border-radius: 10px
}

button.lastPressed {
  background-color: #2d2a7c;
  color: black;
  font-weight: bold;
  border: 5px solid #18164b;
  border-radius: 10px
}

#resultDisplay, #pollStateDisplay {
  margin-top: 20px;
  font-size: 1.2em;
}
